<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Admin Page</title>
		<link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
	</head>
	<body>
		<form th:action="@{/logout}" method="get">
			<button name="registration" type="Submit">Logout</button>
		</form>

		<label th:text="${userName}"></label>
		<p th:text="${adminMessage}"></p>

		<h2>User List</h2>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>View</th>
                <th>Active</th>
                <th>Pulse History</th>
                <th>Calories History</th>
				<th>Steps History</th>


			</tr>
			<tr th:each="user : ${userList}">
				<td th:text="${user.id}">Id</td>
				<td th:text="${user.name}">Name</td>
				<td th:text="${user.lastName}">Last Name</td>
				<td th:text="${user.email}">Email</td>
				<td><a th:href="${'/admin/user/' + user.id}">View Information</a></td>
				<td><a th:href="${'/admin/user/edit/' + user.id}">Edit Active</a></td>
				<td><a th:href="${'/admin/userHistory/pulse/' + user.id}"> View Information</a></td>
				<td><a th:href="${'/admin/userHistory/calories/' + user.id}">View Information</a></td>
				<td><a th:href="${'/admin/userHistory/steps/' + user.id}">View Information</a></td>

			</tr>
		</table>

	</body>
</html>