<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>UserProfile</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/user/home}" method="get">
    <button name="registration" type="Submit">Home</button>
</form>
<br></br>
<br></br>
<br></br>
<br></br>
<div class="container">

    <p>Pasos</p>
    <span class="label label-primary" th:text="${totalDistance}">Distance</span> <br/><br/>

</div>
</body>
</html>