<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Tutorial</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<h3 th:text="Recover"></h3><br/>

<form th:action="@{/changepasswordyes}" method="GET">
    <input th:placeholder="Email" type="text" id="email" name="email"  /> <br/>
    <input th:placeholder="Password" type="password" id="password" name="password" /> <br />
    <input th:placeholder="Token" type="token" id="token" name="token" /> <br />
    <input type="submit" name="submit" value="Change password"/>
</form>
</body>
</html>