<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<script th:inline="javascript">
    var idValue = /*[[${id}]]*/;
    function updateSteps(){
        $.getJSON( "/getSteps/" + idValue, function( data ) {
            $('#pasos').html(data.steps);
            if(data.steps > 100){
                $('#pasos').removeClass("label-warning")
                $('#pasos').addClass("label-danger");
            }else{
                $('#pasos').removeClass("label-danger")
                $('#pasos').addClass("label-warning");
            }
            //document.getElementById('pasos').innerHTML = data.steps;
        });
    }

    function updateCalories(){
        $.getJSON( "/getCalories/" + idValue, function( data ) {
            $('#calories').html(data.calories);
            if(data.calories > 1000){
                $('#calories').removeClass("label-warning")
                $('#calories').addClass("label-danger");
            }else{
                $('#calories').removeClass("label-danger")
                $('#calories').addClass("label-warning");
            }
            //document.getElementById('calories').innerHTML = data.calories;
        });
    }

    setInterval(function(){
        updateSteps();
        updateSleep_quality();
        updateCalories();
        //location.reload();
    }, 1000);
</script>

<p>Pasos</p>
<span id="pasos" class="label" th:text="${countSteps}">countSteps</span> <br/><br/>

<p>Quemando calorias</p>
<span id="calories" class="label" th:text="${countCalories}">countCalories</span>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<textarea name="" id="" cols="30" rows="10"></textarea>
</body>
</html>