<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Security Tutorial</title>
	</head>
	<body>
		<form th:action="@{/registration}" method="get">
			<button type="Submit">Go To Registration Page</button>
		</form>

		<h3 th:text="Welcome"></h3><br/>

		<form th:action="@{/login}" method="POST">
			<input th:placeholder="Email" type="text" id="email" name="email"  /> <br/>
			<input th:placeholder="Password" type="password" id="password" name="password" /> <br />
			<div th:if="${param.error}">
				<p>Email o Contraseña invalidos</p>
			</div>
			<input type="submit" name="submit" value="Login"/>
		</form>
		<form th:action="@{/forgot}" method="get">
			<button type="Submit">Forgot Your Password?</button>
		</form>
	</body>
</html>